/* fonts */
@font-face {
    font-family: 'droid_serif';
    src: url('../fonts/DroidSerif-Regular-webfont.eot') format('eot');
    src: url('../fonts/DroidSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sans';
    src: url('../fonts/DroidSans-webfont.eot') format('eot');
    src: url('../fonts/DroidSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sans';
    src: url('../fonts/DroidSans-Bold-webfont.eot') format('eot');
    src: url('../fonts/DroidSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* template buttons style */

/*  button 2  */
.AGBtn2 {
  height: 3em;
  line-height: 2em;
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  background: #777;
  background: linear-gradient(to bottom right, #c4c4c4, #454545);
  box-shadow: inset 0.2em 0.1em 0.5em #777,
              inset -0.1em -0.2em 0.3em #2b2b2b;
}
.AGBtn2:hover {
  background: #dedede;
  background: linear-gradient(to bottom right, #f5f5f5, #888);
  color: white;
}
.AGBtn2:focus {
  background: #dedede;
  background: linear-gradient(to bottom right, #f5f5f5, #888);
  box-shadow: 0.05em 0.05em 0.1em #ff4500,
              -0.05em -0.05em 0.1em #ff4500,
              inset 0.2em 0.1em 0.5em #777,
              inset -0.1em -0.2em 0.3em #2b2b2b;    
}
.AGBtn2:active {
  box-shadow: inset 0.1em 0.1em 0.1em #000000,
  inset -0.02em -0.02em 0.1em #000000,
  inset -0.2em -0.3em 0.5em #c4c4c4;
}

/* search button 1 (needs an image: magnifier-smaller-250x250-bordered.png) */
.AGSearchBtn1 {
  height: 3em;
  width:3em;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  background: #777;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain, linear-gradient(to bottom right, #c4c4c4, #454545);
  box-shadow: inset 0.2em 0.1em 0.5em #777,
              inset -0.1em -0.2em 0.3em #2b2b2b;
  transition-property: box-shadow;
  }
.AGSearchBtn1:hover {
  background: #dedede;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain, linear-gradient(to bottom right, #f5f5f5, #888);
}
.AGSearchBtn1:focus {
  background: #dedede;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain;
  background: url(../img/magnifier-smaller-250x250-bordered.png) no-repeat  center/contain, linear-gradient(to bottom right, #f5f5f5, #888);
  box-shadow: 0.05em 0.05em 0.1em #ff4500,
              -0.05em -0.05em 0.1em #ff4500,
              inset 0.2em 0.1em 0.5em #777,
              inset -0.1em -0.2em 0.3em #2b2b2b;      
}
.AGSearchBtn1:active {
  box-shadow: inset 0.1em 0.1em 0.1em #000000,
  inset -0.02em -0.02em 0.1em #000000,
  inset -0.2em -0.3em 0.5em #c4c4c4;
}


/* Other style for page ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* main style */
* {
margin-bottom: 0.6em;
}
html {
  text-shadow: 0.02em 0.02em 0.01em #000000;
  font-family: droid_serif, serif;
  color: #f7faff;
  font-size: 20px;
}

body {
  text-align: center;
  background-color: #454e57;
  margin: 0;
}
.hidden {
  display: none;
}

h1 {
  margin-top: 0.6em;
  font-family: droid_sans, sans-serif;
}
h2 {
  display: none;
  font-family: droid_sans, sans-serif;
}
h3 {
  margin: 0;
  margin-bottom: 0.6em;
  font-family: droid_sans, sans-serif;
  text-shadow: none;
}

label {
  display: block;
  margin: auto;
  margin-bottom: 0.6em;
  width: 50%;
  padding: 0;
}
input {
  display: block;
  margin: auto;
  margin-bottom: 0.6em;
  width: 19em;
  height: 3em;
  border: none;
  border-radius: 0.3em;
  line-height: 1em;
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
section div {
  width: 70%;
  margin: auto;
  margin-bottom: 0.6em;
  padding: 0.6em;
  background: #ededed;
  border-left: 0.5em solid #FF4500;
  border-bottom: 0.2em solid #FF4500;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  color: #000000;
}
section div:hover {
  background-color: #ffffff;
  cursor: pointer;
}
section div:focus {
  background-color: #ffffff;
}

section div p {
  margin: 0;
  color: #000000;
  text-shadow: none;
  padding: 0;
}

/* msgBox style */

#msgBox {
  position: relative;
  width: 20em;
  margin: 0 auto;
  background: #eee;
  color: #FF4500;
  border: 0.1em solid #FF4500;
  overflow: auto;
}
#msgImg {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin: 0 auto;
  background: url(../img/warning-ico-1.png) no-repeat center/contain;
}
#msgBox div {
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
  color: #333;
  
}
#msgBox button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1em;
  color: #000;
}

/* footer style */
footer a {
  color: #FF4500;
}
footer a:visited {
  color: darkorange;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  input {
    width: 60%;
    text-align: center;
  }
}